{% extends 'lokoadmin/events/event_base.html' %}

{% block body_content %}
  <div class="widget">
    <div class="widget-header">
      <i class="icon-user"></i>
      <h3>Vymazať ubytovanie {{ accomodation.name }}</h3>
    </div>
    <div class="widget-content">
      <div class="span12">
        <strong>Ste si istý?</strong>
        <br>
      </div>
      <div class="span1">
        <form method="post" action="">
          {% csrf_token %}
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-danger">Áno</button>
            </div>
          </div>
        </form>
      </div>
      <div class="span1">
        <a href="{% url 'lokoadmin:event_accomodation' accomodation.event.pk %}" class="btn btn-success">Nie</a>
      </div>
    </div>
  </div>
{% endblock %}