{% extends 'lokoadmin/events/event_base.html' %}

{% block body_content %}
  <div class="widget">
    <div class="widget-header">
      <h3>Udalosť {{ event.name }}</h3>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:event_delete' event.pk %}">
          <i class="icon-trash"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:event_edit' event.pk %}">
          <i class="icon-pencil"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="#">
          <i class="icon-home"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:events' %}">
          <i class="icon-arrow-left"></i>
        </a>
      </div>
    </div>
    <div class="widget-content">
      <div class="span10">
        <h4>{{ event.name }} ({{ event.type }}) - {{ event.location }}</h4>
        <br>
        <div class="well well-small">
          {{ event.description | safe }}
        </div>
        <p>
          <strong>Od </strong> {{ event.start_date }} o {{ event.start_time }} -
          <strong>Do </strong> {{ event.end_date }} o {{ event.end_time }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
