{% extends 'lokoadmin/base.html' %}


{% block content %}
  <body>
    {% include 'lokoadmin/navigation.html' %}
    <div class="subnavbar">
      <div class="subnavbar-inner">
        <div class="container">
          <ul class="mainnav">
            <li class={% block dashboard_active %}""{% endblock %}>
              <a href="{% url 'lokoadmin:dashboard' %}">
                <i class="icon-dashboard"></i>
                <span>Úvod</span>
              </a>
            </li>
            <li class={% block users_active %}""{% endblock %}>
              <a href="{% url "lokoadmin:users" %}">
                <i class="icon-list-alt"></i>
                <span>Užívatelia</span>
              </a>
            </li>
            <li class={% block events_active %}""{% endblock %}>
              <a href="#">
                <i class="icon-list-alt"></i>
                <span>Udalosti</span>
              </a>
            </li>
            {% block no_actions %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i style="color: black;" class="icon-long-arrow-down"></i>
                  <span style="color: black;">Akcie</span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {% block custom_actions %}
                  {% endblock %}
                </ul>
              </li>
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="main-inner">
        <div class="container">
          {% block body_content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-inner">
        <div class="container">
          <div class="row">
            <div class="span12"> &copy; 2016 Ondrej Husár </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}