{% load custom_filters %}
<div class="form-actions">
  <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
      {% for field in form %}
        <div class="control-group {% if field.errors %}alert alert-danger{% endif %}">
          {{ field.label_tag|add_label_class:'control-label'}}
          <div class="controls">
            {{ field|add_attributes:'class: span6 form-control'}}
            {% for error in field.errors %}
              <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    <div class="control-group">
      <div class="controls">
          <input class="span6 form-control" type="submit" value="Ulož"/>
      </div>
    </div>
  </form>
</div>


