{% load custom_filters %}
<div class="form">
  <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">
              <i class="fa fa-times-circle"></i>
            </a>
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
      {% for field in form %}
        <div class="control-group {% if field.errors %}alert alert-danger{% endif %}">
          {{ field.label_tag|add_label_class:'control-label'}}
          <div class="controls">
            {{ field|add_attributes:'class: span6 form-control'}}
            {% for error in field.errors %}
              <p class="text-danger">{{ error|escape }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    <div class="control-group">
      <div class="controls">
          <input class="span6 form-control" type="submit" value="Ulož"/>
      </div>
    </div>
  </form>
</div>
