{% extends 'lokoadmin/admin_base.html' %}

{% block title_extension %}Admin{% endblock %}
{% block dashboard_active %}"active"{% endblock %}
{% block no_actions %}{% endblock %}

{% block body_content %}
  <div class="row">
    <div class="span6">
      <div class="widget widget-nopad">
        <div class="widget-header"> <i class="icon-list-alt"></i>
          <h3>Štatistiky</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
          <div class="widget big-stats-container">
            <div class="widget-content">
              <h6 class="bigstats">Súhrnné počty na webe</h6>
              <div id="big_stats" class="cf">
                <div class="stat"> <i class="icon-calendar"></i> <span class="value">{{ event_count }}</span> </div>
                <!-- .stat -->

                <div class="stat"> <i class="icon-user"></i> <span class="value">{{ user_count }}</span> </div>
                <!-- .stat -->
              </div>
            </div>
            <!-- /widget-content -->

          </div>
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="widget">
        <div class="widget-header"> <i class="icon-bookmark"></i>
          <h3>Dôležité skratky</h3>
        </div>
        <div class="widget-content">
          <div class="shortcuts">
            <a href="#" class="shortcut">
              <i class="shortcut-icon icon-list-alt"></i>
              <span class="shortcut-label">Verejná stránka</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}