{% extends 'lokoadmin/base.html' %}

{% block custom_css %}
  {% load staticfiles %}
  <link href="{% static "lokoadmin/css/pages/signin.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
  <div class="account-container">
    <div class="content clearfix">
      <form action="#" method="post">
        {% csrf_token %}
        {% if user.is_authenticated and 'next' in request.GET %}
          <div class="alert alert-danger fade in">
              Ste prihlásený ako <b>{{ user.username }}</b>, ale nemáte dostatočné oprávnenie na prístup k tejto stránke.
          </div>
        {% elif form.errors %}
            <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">
                <i class="fa fa-times-circle"></i>
              </a>
              Zlé meno/heslo.
            </div>
        {% endif %}
        <h1>Prihlasovanie</h1>

        <div class="login-fields">
          <div class="field">
            <label for="username">Prihlasovacie meno</label>
            <input type="text" id="id_username" name="username"
                   placeholder="Meno" class="login username-field" autofocus />
          </div>
          <div class="field">
            <label for="password">Heslo:</label>
            <input type="password" id="id_password" name="password"
                   placeholder="Heslo" class="login password-field"/>
          </div>
        </div>

        <div class="login-actions">
          <button type="submit" class="button btn btn-success btn-large" role="button">Prihlás</button>
        </div>

      </form>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
  <script src="{% static "lokoadmin/js/signin.js" %}"></script>
{% endblock %}