{% extends 'frontend/event_base.html' %}

{% load check %}
{% block accomodation_active %}active{% endblock %}
{% block actions_content %}
    {% if not accomodations.all %} Pre túto udalosť nie sú dostupné žiadne ubytovania. {% endif %}
    {% for accomodation in accomodations.all %}
        <h4 class="w3-opacity">
            {{ accomodation.location }}: {{ accomodation.start_date }} až {{ accomodation.end_date }}
        </h4>
        <h5 class="w3-opacity">
            Cena za noc: {{ accomodation.price_per_night }} EUR
        </h5>
        <div class="well well-small">
            {{ accomodation.description | safe }}
        </div>
        <form method="post" class="form" action="#actions_content">
            {% csrf_token %}
            {% for user in my_users %}
                <div class="col-lg-12">
                    <label
                            for="id_children_41"
                            style="
                                text-align: right;
                                clear: both;
                                float:left;
                                margin-right:15px;
                                "
                    >
                        {{ user.username }}
                    </label>
                    <input id="{{ user.pk }}"  name="{{ user.pk }}" type="checkbox"
                           value="{{ user.pk }}" {{ accomodation|check:user }} class="checkbox"/>
                </div>
            {% endfor %}
            <button class="btn btn-primary" value="send-id_{{ accomodation.pk }}" name="send-id_{{ accomodation.pk }}" type="submit">Zmeň pre {{ accomodation.location }}</button>
        </form>
        <hr>
    {% endfor %}
{% endblock %}
