{% extends 'frontend/event_base.html' %}

{% block going_active %}active{% endblock %}

{% block actions_content %}
    <h4 class="w3-opacity">Prihlásení tréneri</h4>
    {% for user in trainers %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% endfor %}
    <hr>
    <h4 class="w3-opacity">Prihlásené deti</h4>
    {% for user in children %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% endfor %}
    <hr>
    <h4 class="w3-opacity">Prihlásení rodičia</h4>
    {% for user in parents %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    {% endfor %}
    <hr class="w3-clear">
{% endblock %}
