<!DOCTYPE html>
<html>

{% include 'frontend/base/head.html' %}

<body class="w3-theme-l5">

  {% include 'frontend/base/topnav.html' %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m2">
      {% block left_content %}
      {% endblock %}
      <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m8">
      {% block middle_content %}
      {% endblock %}
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      {% block right_content %}
      {% endblock %}
      <!-- End Right Column -->
    </div>
  </div>
  <!-- End Page Container -->
</div>
<br>

{% include 'frontend/base/footer.html' %}

{% load staticfiles %}

<script src="{% static "lokoadmin/js/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
<script src="{% static "lokoadmin/js/excanvas.min.js" %}" type="text/javascript"></script>
<script src="{% static "lokoadmin/js/chart.min.js" %}" type="text/javascript"></script>
<script src="{% static "lokoadmin/js/bootstrap.js" %}" type="text/javascript"></script>
<script src={% static "lokoadmin/js/base.js" %}></script>

{% block custom_js %}
{% endblock %}

</body>
</html>