{% extends 'lokoadmin/events/event_base.html' %}

{% block body_content %}
  <div class="widget">
    <div class="widget-header">
      <h3>Udalosť {{ event.name }} {% block extra_header %}{% endblock %}</h3>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:event_delete' event.pk %}">
          <i class="icon-trash"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:event_edit' event.pk %}">
          <i class="icon-pencil"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="#">
          <i class="icon-home"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:events' %}">
          <i class="icon-arrow-left"></i>
        </a>
      </div>
    </div>
    <div class="widget-content">
      <div class="span10">
        <div class="col-md-12" style="margin-bottom: 2%;">
          <ul class="nav nav-tabs">
            <li class="{% block basics_active %}{% endblock %}" role="presentation" >
              <a class="text-success" href="{% url 'lokoadmin:event_detail' event.pk %}">
                Základné informácie
              </a>
            </li>
            <li class="{% block people_active %}{% endblock %}" role="presentation" >
              <a class="text-success" href="{% url 'lokoadmin:event_users' event.pk %}">
                Administrácia užívateľov
              </a>
            </li>
          </ul>
        </div>
        {% block event_detail_content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}