{% extends 'lokoadmin/user_profiles/user_base.html' %}

{% block body_content %}
  <div class="widget">
    <div class="widget-header">
      <i class="icon-user"></i>
      <h3>Profil {{ user.username }}</h3>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:delete_user' user.pk %}">
          <i class="icon-trash"></i>
        </a>
      </div>
      <div class="col-2 pull-right" style="margin-right: 2%;">
        <a href="{% url 'lokoadmin:edit_user' user.pk %}">
          <i class="icon-pencil"></i>
        </a>
      </div>
    </div>

    <div class="widget-content">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#profile" data-toggle="tab">Profil</a>
          </li>
          <li><a href="#stats" data-toggle="tab">Aktivita</a></li>
        </ul>
        <br>
        <div class="tab-content">

          <div class="tab-pane active" id="profile">
            <div class="span5">
              <div class="widget">
                <div class="widget-header">
                  <h3>Meno</h3>
                </div>
                <div class="widget-content">
                  {{ user.first_name }} <strong>{{ user.last_name }}</strong>
                </div>
              </div>
            </div>
            <div class="span5">
              <div class="widget">
                <div class="widget-header">
                  <h3>Email</h3>
                </div>
                <div class="widget-content">
                  <a href="mailto:{{ user.email }}" target="_top">{{ user.email }}</a>
                </div>
              </div>
            </div>
            {% if form %}
              <div class="span10">
                <h3>Extra údaje</h3>
                {% include 'lokoadmin/form.html' %}
              </div>
            {% endif %}
          </div>
          <div class="tab-pane" id="stats">

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
